.container {
    background-image: linear-gradient(
        to bottom right,
        rgba(6, 6, 7, 0.719),
        rgb(33, 34, 39)
      ), url("../images/congo-bg.gif");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.nav {
    background-color: #1e1f22dc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.cyberhacklogo {
    height: 7vh;
}

.congocontainer {
    height: 85vh;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.congotext {
    font-size: 5vh;
    color: white;
}

.congoimg {
    height: 40vh;
}

@media only screen and (min-width: 520px) {
    .congotext {
        font-size: 8vh;
        color: white;
    }
}

@media only screen and (min-width: 520px) {
    .congoimg {
        height: 50vh;
    }
}
