.body {
    min-height: calc(100vh - 5vh - 44px);
    background-color: #282c34;
}

.level {
    text-align: center;
    padding: 50px 0;
}

.leveltext {
    letter-spacing: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f7c303;
}

.questioncontainer {
    display: flex;
    justify-content: center;
}