.container {
    background-color: #263143;
    color: white;
    align-self: flex-end;
    margin-top: 10px;
    display: flex;
    justify-content: right;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

@media only screen and (max-width: 520px) { 
    .container {
        align-self: center;
    }
}